<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order.processor.mapper.OrderMapper">
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="id">
        insert into orders(sn) values(#{sn})
    </insert>

    <select id="findAllOrders" resultType="Order">
        select * from orders
    </select>
</mapper>